{% extends "fm_app/base.html" %}
{% block flashnewsbar %}
<div class="flash-news-bar">
  {% include "fm_app/include/_flashnews.html" %}
</div>
{% endblock %}
{% block content %}
<div class="jumbotron">
  <h2><u>मधेश जन आवाज एफ.एम</u></h2>
  <br>
  <p>पछिलो समय आम जगतमा संचारको आवश्यत्ता दिन प्रतिदिन फस्टाउँदै गईरहेको छ । संचारको विभिन्न उदाहरण छन जस मध्ये रेडियो पनि एक मानिन्छ । अरु संचार भन्दा फरक र सहजको रुपमा मानिन्छ रेडियो ।
    <br><br> नेपालमा रेडियो प्रसारण धेरै अगाडि भएतापनि ग्रामिण भेग र क्षेत्रमा भाषा भाषी, बोली चाली र रिति रिवाजको दृष्टीकोणले पहुच नरहेको पाइन्थ्यो । देशको प्रमुख शहरहरुमा मात्रै सञ्चालित रेडियोलाई हामी ग्रामिण क्षेत्रसम्म विस्तार गरेका छौ । शहरी क्षेत्रका
    मात्रै नभएर ग्रामिण क्षेत्रको पनि स्रोताका माझ सूचना उपलब्ध गराउन हामी ग्रामिण क्षेत्रमा पनि रेडियो सञ्चालन ग¥यौ । हाम्रो रेडियो ग्रामिण क्षेत्रको आम जनमानसमा रिति रिवाज, बोली चाली र सँस्कृतिलाई सुदृढ पार्नको निम्ति नै स्थापना भएको छ । समुदायमा रही
    समुदायको सूचना, गतिविधि, शिक्षा, संगित र मनोरंजन सँगै आम जनताको ढुकढुकीमा सफलता पूर्वक अगाडि बढदै नवौ वर्षमा हामी तपाईहरु माझ आईपुगेका छौ । <br><br> यस भेगका समुदाय सँग प्रत्यक्ष वा अप्रत्यक्ष रुपमा हामी सेवा र सूचना प्रसारण गरीरहेका छौ । रौतहट जिल्लाको
    गरुडा नगरपालिका वर्डा नं ४ गरुडा वैरियामा वि.सं.२०६५ सालमा स्थापित (५००) वाटको एक मात्र लोकप्रिय रेडियो मधेश जन आवाज एफएम ९८.६ मेगाहर्जबाट हामी तपाईहरुलाई नौ वर्षदेखी निरन्तर ताजा ताजा सूचना दिदै आईरहेका छौ । यस क्षेत्रका जनता मात्र नभई देश बिदेशमा
    रहनुभएका समस्त दाजु, दिदी बहिनी साथी भाईमाझ हामी आफनो प्रसारण अनलाईन मार्फत पनि अगाडि बढाएका छौ ।
    <br> <br>यस रेडियो मार्फत हामी तपाईहरुलाई विभिन्न रोचक, सत्य तथ्य घटना, वादविवाद, स्थानिय खबर र ज्ञानवर्दक खेल सँगै विभिन्न गित संगितबाट मनोरंजन गराईरहेका छौ ।
    <br> <br>सञ्चार जगतमा आजभन्दा ७ वर्ष पहिला रेडियोको जति महत्व थियो आज पनि त्यतिकै हो । यो संसारमा मोवाईल सेवा आएपछि रेडियोको असतित्व समाप्त हुन्छ भन्ने धेरैको आकलन थियो तर मोवाईलले सञ्चार माध्यमलाई झनै विश्वसनिय, उत्तरदायी र छिटोछरितो माध्यम बनाउँदै यसको
    महत्व झनै बढाईदिएको पाईएको छ । अन्त्यमा यस रेडियो द्धारा प्रसारित कार्यक्रम, समाचार, लेख, रचना सँगै मनोरंजनले तपाईहरु अवश्य पनि लाभांवित हुनु हुन्छ भन्ने हामी समस्त मधेश जनआवाज एफएम ९८.६ मेगाहर्ज परिवार अपेक्षा गर्दछौ ।</p>
</div>
{% endblock %}
