<!DOCTYPE html>
{% load staticfiles %}
{% load tz %}
<html>

<head>
  <meta charset="utf-8">
  <title>Madhesh Jan Aawaj FM</title>
  {% block meta_block %}
  {% endblock %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'fm_app/css/style.css' %}">

  <!-- slider -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>

<body>
  <div class="constant">
      {% now 'P' as currtime %}
      {% for program in nowplaying %}
        {% if currtime >= program.start_time|time:"P" and currtime < program.end_time|time:"P" %}
                  <div class="nowplaying">
                    <div class="nowplaying_text">
                        <h5>Now Playing:</h5>
                    </div>
                    <div class="nowplaying_button">
                        <span class="glyphicon glyphicon-play"></span>
                    </div>
                    <div class="nowplaying_program_name">
                        <p>{{ program.title }}</p>
                    </div>
                  </div>

          {% else %}
                  <div class="nextplaying">
                    <div class="nextplaying_text">
                        <h5>Next:</h5>
                    </div>
                    <div class="nextplaying_button">
                      <span class="glyphicon glyphicon-step-forward"></span>
                    </div>
                    <div class="nextplaying_program_name">
                    <p>@{{program.start_time}} {{ program.title }}</p>
                    </div>
                  </div>
        {% endif %}
      {% endfor %}
      <div class="fmradio">
        <div class="fmradio_text">
            <p>Radio coming soon..
            {% now "P" %}</p>
        </div>
        <div class="fmradio_btn">
          <span class="glyphicon glyphicon-play-circle"></span>
        </div>
    </div>
  </div>

  <div class="container">
    <h1 style="float:left;">Madhesh Jan Aawaj FM</h1>
    <h4 style="float:right; padding-top:25px;">{% now "jS F Y, l" %}</h4>
  </div>
  <div class="container">
    <nav class="navbar navbar-inverse">
      <a href="{% url 'homepage'%}" class="nav navbar-brand">98.6MHz</a>
      <ul class="nav navbar-nav navbar-left">
        <li class="nav navbar-link"><a href="{% url 'homepage'%}">Home</a></li>
        <li class="nav navbar-link"><a href="{% url 'fm_app:about' %}">About</a></li>
        <li class="nav navbar-link"><a href="{% url 'fm_app:listofnews' %}">News</a></li>
        <li class="nav navbar-link"><a href="{% url 'fm_app:gallery' %}">Gallery</a></li>
        <li class="nav navbar-link"><a href="{% url 'fm_app:profiles' %}">Profile</a></li>
        <li class="nav navbar-link"><a href="{% url 'fm_app:schedule'%}">Program-Schedule</a></li>
        <li class="nav navbar-link"><a href="{% url 'fm_app:contact'%}">Contact</a></li>
      </ul>

    </nav>
    {% block flashnewsbar %}

    {% endblock %}

  </div>

  {% block slider %}

  {% endblock %}

  <div class="container">
    {% block content %}
    {% endblock %}
  </div>



  <div class="mini_content">
    <div class="container">
      <div class="calender">
        <ins style="width:100%;height:100%;" class="nepalipatro-wg" widget="day"/><script src="//nepalipatro.com.np/widget/js"></script>
      </div>
      <div class="menus_below">
        <h4>Menu</h4>
        <hr>
        <ul>
          <li><a href="{% url 'homepage'%}">Home</a></li>
          <li><a href="{% url 'fm_app:about' %}">About</a></li>
          <li><a href="{% url 'fm_app:listofnews' %}">News</a></li>
          <li><a href="{% url 'fm_app:gallery' %}">Gallery</a></li>
          <li><a href="{% url 'fm_app:profiles' %}">Profile</a></li>
          <li><a href="{% url 'fm_app:schedule'%}">Program-Schedule</a></li>
          <li><a href="{% url 'fm_app:contact'%}">Contact</a></li>
        </ul>
      </div>
      <div class="fb_block">
        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FMadhesh-Jan-Aawaj-FM-986-MHz-282602768538347%2F&tabs&width=380&height=300&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="380" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
      </div>

  </div>


  <div class="footer">
    <div class=" container">
      <p style="float: left;">Copyright &copy; 2017 Madhesh Jan Awaj FM. All rights reserved.</p>
      <p style="float:right;">Powered by: <a href="https://www.linkedin.com/in/rupesh-maharjan-882229146/" style="color: #fff; text-decoration: none;" target="_blank">Rupesh Maharjan</a></p>
    </div>
  </div>
</body>

</html>
