{% extends "fm_app/base.html" %} {% block content %}
<div class="jumbotron">
  <h4>Madhesh Jan Awaj FM 98.6 MHz</h4>
  <p>Garuda-9, Rautahat</p>
  <p>+977-055-565373/565374</p>
  <a href="mailto:mjfnews@yahoo.com, madheshjanavajfm@gmail.com"><h4>Email:</h4></a>
  <p><a href="mailto:mjfnews@yahoo.com, madheshjanavajfm@gmail.com">
    mjfnews@yahoo.com</p>
  <a href="mailto: madheshjanavajfm@gmail.com"><p>madheshjanavajfm@gmail.com</p></a>
  </a>
  <h4>Website:</h4>
  <p>www.madheshjanawajfm.org.np</p>
</div>

<div class="jumbotron">
  <h3>Contact:</h3>
  <hr><hr>
  <form method="POST">
    {% csrf_token %}
    {% for error in form.non_field_errors %}
       <div class="form-group has-errors text-danger small">
              {{error}}
        </div>
    {% endfor %}
    {% for field in form %}
      <div class="form-group has-errors text-danger small">
                {{field.errors}}
      </div>
      <div class="form-group has-errors text-danger small">
      </div>
      <div class="form-group">
        {{field}}
      </div>
    {% endfor %}
    <input class="btn btn-primary" type="submit" value="Submit">
  </form>
</div>

{% endblock %}
