  {% if profile.email %}
    <div class="profilecard">
      <div class="profilepic">
        <img src="{{ profile.profilepic.url }}">
      </div>
      <div class="details_profile">
        <h4>{{profile.name}}</h4>
        <p>{{profile.post}}</p>
        <p><a href="mailto:{{profile.email}}">{{profile.email}}</a></p>
        <p>{{profile.phone}}</p>
        <p>{{profile.address}}</p>
      </div>
    </div>
    {% else %}
    <div class="profilecard">
      <div class="profilepic">
        <img src="{{ profile.profilepic.url }}">
      </div>
      <div class="details_profile">
      <h4>{{profile.name}}</h4>
      <p>{{profile.post}}</p>
      <p>{{profile.phone|linebreaksbr}}</p>
      <p>{{profile.address}}</p>
      </div>
    </div>
  {% endif %}
