  {% if profile.email %}
    <div class="profilecard">
      <div class="profilepic">
        <img src="{{ profile.profilepic.url }}">
      </div>
      <div class="details_profile">
        <h3>{{profile.name}}</h3>
        <h4>{{profile.post}}</h4>
        <h4><a href="mailto:{{profile.email}}">{{profile.email}}</a></h4>
        <h4>{{profile.phone}}</h4>
        <h4>{{profile.address}}</h4>
      </div>
    </div>
    {% else %}
    <div class="profilecard">
      <div class="profilepic">
        <img src="{{ profile.profilepic.url }}">
      </div>
      <div class="details_profile">
      <h3>{{profile.name}}</h3>
      <h4>{{profile.post}}</h4>
      <h4>{{profile.phone|linebreaksbr}}</h4>
      <h4>{{profile.address}}</h4>
      </div>
    </div>
  {% endif %}
